<!-- regional SEO -->
<f:if condition="{data.xDefault}">
	<link rel="alternate" hreflang="x-default" href="{data.xDefault}" />
</f:if>

<f:if condition="{data.hrefLang}">
	<f:for each="{data.hrefLang}" as="config" key="">
		<link rel="alternate" hreflang="{config.hreflang}" href="{f:uri.page(pageUid: config.pageUid, additionalParams: config.arguments)}" />
	</f:for>
</f:if>

<f:if condition="{data.canonical}">
	<link rel="canonical" href="{f:uri.page(additionalParams: data.canonical.arguments)}" />
</f:if>